@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Kadwa:700|Ubuntu:500|Just+Another+Hand);

@font-face {
  font-family: Damion;
  src: url(../font/Damion-Regular.ttf);
}


html {
  overflow-y: scroll;
}

   .top-bar {
    margin-bottom: 50px;
    text-align: center; }

   ul.center-buttons {

    display: inline-block; }

.menu-icon {

  padding-top: 1.2rem; }

.top-bar.expanded {

  background: #000; }

#footer{
    background: #333333 ;
    bottom: 0px;
    color: #fff;
    line-height: 40px;
    position: absolute;
    text-align: center;
    width: 100%;
}
#header{
    background: rgba( 0, 0, 0, 0) ;
    bottom: 0px;
    color: #aaa;
    left: 0px;
    line-height: 50px;
    text-align: center;
    width: 100%;
}

.image,
.last
{
  float:left;
  margin-right:14px;
}
.last
{
  margin:0;
}
.last img,
.image img
{
  background:#fff;
  border:1px #ccc solid;
  padding:5px;
}
#gallery a:link,
#gallery a:hover,
#gallery a:visited
{
  color:#666;
}
#gallery a:hover
{
  color:#F00;
}
.backLineUp
{
  width:900px;
  text-align:left;
  margin:0 auto;
}
.lineupImg
{
  float:left;
  margin-right:20px;
}

#gallery
    {
      width:100%;
      margin:0 auto;
      float:left;
      
      -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.inline-list > li {
  float: none;
  display: inline-block
}

.thumbnail {
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #DDD;
    display: block;
    height: auto;
    line-height: 1.42857;
    max-width: 100%;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}
#map {
  background-color: #CCC;
  height: 400px;
  width: 500px;
}

.image-link {
background-color: #FFF;
border-radius: 4px;
display: inline-block;
line-height: 0;
margin: 0px 0.5rem 1rem;
padding: 4px;
}
 .top-bar .toggle-topbar.menu-icon {
  top: 0px !important;
 }

 a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 36px;
  background: url("../img/top.png") no-repeat center 43%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
a:hover.back-to-top {
}

hr {
  height: 7px !important;
  margin-left:47%; 
  margin-right:47%;
  position: relative;
  background-color: #fff;
}
.verticalLine {
    border-right: thin solid #000; 
    height:440px;
}
.full-width{
    max-width: 100% !important;
}
.row{
      margin: 0 auto;
      max-width: 62.5rem;
      background: inherit;
      }

p.tagline {
  color: #FFFFFF;
    font-size: 48px;
    line-height: 58px;
    font-weight: 900;
    font-style: italic;
    text-shadow: 2px 2px #000;
}

p.whitetext {
  color: #fff;
}
.not-active {
   pointer-events: none;
   cursor: default;
}
h1.big {
  font-family: 'Just Another Hand', cursive;
  color:#000; 
  font-size: 60px; 
  line-height: 58px; 
  font-weight: 900}
}

p.title{
  color:#fff !important; 
  font-size: 60px !important; 
  line-height: 72px !important; 
}
p.subtext{
  color:#fff; 
  font-size: 30px; 
  line-height: 36px; }

@media screen and (max-width: 768px) {
.desktop-only {
  display: none;
}
}
